:root {
  --main-text-color: #2e2f42;
  --secondary-text-color: #434455;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

/*!----------HEADER----------*/

.header-logo {
  color: #4d5ae5;
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-logo-studio {
  color: var(--main-text-color);
}
.header-menu-link {
  color: var(--main-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.address-menu-link {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address {
  font-style: normal;
}
.address-menu-link:hover,
.address-menu-link:focus {
  color: #404bbf;
}

/*!----------HERO----------*/
.hero {
  background-color: var(--main-text-color);
}
.hero-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.hero-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/*!----------skills----------*/
.skills {
  background-color: #fff;
}
.skills-title {
  color: var(--main-text-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.skills-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*!----------Section3----------*/
.section3 {
  background-color: #fff;
}

.result-title {
  color: var(--main-text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/*!----------Team----------*/
.team-title {
  color: var(--main-text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-subtitle {
  color: var(--main-text-color);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-text {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.team {
  background-color: #f4f4fd;
}
.team-item {
  background-color: #ffffff;
}
/*!----------Footer----------*/
.footer {
  background-color: var(--main-text-color);
}
.footer-logo {
  color: #4d5ae5;
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo-studio {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*!----------APPS----------*/
.apps-button-list {
  list-style: none;
}
.apps {
  background-color: #fff;
}

.apps-button-btn {
  color: #4d5ae5;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: inherit;
  font-style: normal;
  cursor: pointer;
  background-color: #f4f4fd;
}
.apps-button-btn:hover,
.apps-button-btn:focus {
  background-color: #404bbf;
  color: #fff;
}

/*!----------Portfolio----------*/
.portfolio-link {
  text-decoration: none;
}
.portfolio-title {
  color: var(--main-text-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-list {
  list-style: none;
}
